@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: #fff;
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
  /* Attach footer to bottom of page */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Attach footer to bottom of page */
footer{
  margin-top: auto;
}

/* vertically center hero content */
main {
  display: flex;
  flex-grow: 1;
}

p, span, h1, h2, h3, h4, h5, h6, a {
  color: #fff;
  transition: 0.15s ease;
}

button {
  text-transform: capitalize !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
